/* line 1, ../name-chains/scss/_style.scss */
main {
  background-color: #E4FFFD;
}

/* line 5, ../name-chains/scss/_style.scss */
main p {
  color: #46697D;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

/* line 11, ../name-chains/scss/_style.scss */
main h1 {
  color: #00A99D;
  font-family: 'Nunito', sans-serif;
  font-weight: 600i;
  font-style: italic;
  text-align: center;
  font-size: 12rem;
}

/* line 20, ../name-chains/scss/_style.scss */
main h2 {
  color: #FF7BAC;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 4rem;
}

/* line 31, ../name-chains/scss/_style.scss */
ul {
  list-style-type: none;
}

/* line 2, ../name-chains/scss/_header.scss */
header {
  background-color: #D9E2EC;
  padding-bottom: .75rem;
}

/* line 6, ../name-chains/scss/_header.scss */
header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  max-width: 20%;
  max-height: 20%;
}

@media only screen and (max-width: 40em) {
  /* line 18, ../name-chains/scss/_header.scss */
  nav {
    display: none;
  }
  /* line 22, ../name-chains/scss/_header.scss */
  header img {
    max-width: 40%;
    max-height: 40%;
  }
}

/* line 28, ../name-chains/scss/_header.scss */
nav ul {
  list-style-type: none;
  color: #46697D;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-size: 1.2rem;
}

/* line 35, ../name-chains/scss/_header.scss */
nav ul li {
  display: inline;
  padding-left: .5rem;
  padding-right: .5rem;
}

/* line 42, ../name-chains/scss/_header.scss */
nav ul a {
  text-decoration: none;
}

/* line 46, ../name-chains/scss/_header.scss */
nav ul a:link {
  color: #46697D;
}

/* line 50, ../name-chains/scss/_header.scss */
nav ul a:visited {
  color: #46697D;
}

/* line 54, ../name-chains/scss/_header.scss */
nav ul a:hover {
  color: #FF7BAC;
}

/* line 1, ../name-chains/scss/_top.scss */
.top img {
  width: 100vw;
}

/* line 1, ../name-chains/scss/_who.scss */
#jess {
  width: 100vw;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* line 7, ../name-chains/scss/_who.scss */
#fran {
  width: 100vw;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* line 13, ../name-chains/scss/_who.scss */
#sab {
  width: 100vw;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (min-width: 40em) {
  /* line 21, ../name-chains/scss/_who.scss */
  .who {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  /* line 26, ../name-chains/scss/_who.scss */
  .who h2 {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
  }
  /* line 31, ../name-chains/scss/_who.scss */
  .who p {
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
  }
  /* line 37, ../name-chains/scss/_who.scss */
  #jess {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    width: 33vw;
  }
  /* line 44, ../name-chains/scss/_who.scss */
  #fran {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    width: 33vw;
  }
  /* line 51, ../name-chains/scss/_who.scss */
  #sab {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    width: 33vw;
  }
}

/* line 1, ../name-chains/scss/_what.scss */
.what img {
  width: 100vw;
}

/*# sourceMappingURL=main.css.map */