/* line 1, ../name-chains/name-chains/scss/_style.scss */
img {
  width: 100%;
}

/* line 5, ../name-chains/name-chains/scss/_style.scss */
main {
  background-color: #E4FFFD;
}

/* line 9, ../name-chains/name-chains/scss/_style.scss */
main p {
  color: #46697D;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-size: 1.2rem;
  line-height: 3rem;
}

/* line 17, ../name-chains/name-chains/scss/_style.scss */
main h1 {
  color: #00A99D;
  font-family: 'Nunito', sans-serif;
  font-weight: 600i;
  font-style: italic;
  text-align: center;
  font-size: 12rem;
  width: 50;
}

/* line 28, ../name-chains/name-chains/scss/_style.scss */
main h2 {
  color: #FF7BAC;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 4rem;
}

/* line 39, ../name-chains/name-chains/scss/_style.scss */
ul {
  list-style-type: none;
}

/* line 2, ../name-chains/name-chains/scss/_header.scss */
header {
  background-color: #D9E2EC;
  padding-bottom: .75rem;
}

/* line 6, ../name-chains/name-chains/scss/_header.scss */
header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 20%;
  max-height: 20%;
}

@media only screen and (max-width: 40em) {
  /* line 17, ../name-chains/name-chains/scss/_header.scss */
  nav {
    display: none;
  }
  /* line 21, ../name-chains/name-chains/scss/_header.scss */
  header img {
    max-width: 40%;
    max-height: 40%;
  }
}

/* line 27, ../name-chains/name-chains/scss/_header.scss */
nav ul {
  list-style-type: none;
  color: #46697D;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-size: 1.2rem;
}

/* line 34, ../name-chains/name-chains/scss/_header.scss */
nav ul li {
  display: inline;
  padding-left: .5rem;
  padding-right: .5rem;
}

/* line 41, ../name-chains/name-chains/scss/_header.scss */
nav ul a {
  text-decoration: none;
}

/* line 45, ../name-chains/name-chains/scss/_header.scss */
nav ul a:link {
  color: #46697D;
}

/* line 49, ../name-chains/name-chains/scss/_header.scss */
nav ul a:visited {
  color: #46697D;
}

/* line 53, ../name-chains/name-chains/scss/_header.scss */
nav ul a:hover {
  color: #FF7BAC;
}

/* line 1, ../name-chains/name-chains/scss/_who.scss */
.who p {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (min-width: 45em) {
  /* line 10, ../name-chains/name-chains/scss/_who.scss */
  .who {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 3fr;
    grid-column-gap: 2rem;
  }
}

/* line 17, ../name-chains/name-chains/scss/_who.scss */
.who h2 {
  text-align: center;
}

@media screen and (min-width: 45em) {
  /* line 17, ../name-chains/name-chains/scss/_who.scss */
  .who h2 {
    grid-row: 1;
    grid-column: 1 / span 3;
    justify-self: center;
  }
}

@media screen and (min-width: 45em) {
  /* line 30, ../name-chains/name-chains/scss/_who.scss */
  .who p {
    grid-row: 3;
    grid-column: 1 / span 3;
  }
}

/* line 39, ../name-chains/name-chains/scss/_who.scss */
.who img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* line 47, ../name-chains/name-chains/scss/_who.scss */
.who #jess {
  grid-column: 1;
  grid-row: 2;
}

/* line 53, ../name-chains/name-chains/scss/_who.scss */
.who #fran {
  grid-column: 2;
  grid-row: 2;
}

/* line 59, ../name-chains/name-chains/scss/_who.scss */
.who #sab {
  grid-column: 3;
  grid-row: 2;
}

@media screen and (min-width: 40em) {
  /* line 3, ../name-chains/name-chains/scss/_when.scss */
  .when {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
  /* line 7, ../name-chains/name-chains/scss/_when.scss */
  .when h1 {
    margin-top: -6rem;
  }
  /* line 10, ../name-chains/name-chains/scss/_when.scss */
  p {
    margin-top: -7rem;
  }
}

/*# sourceMappingURL=main.css.map */