footer{
	background-color: #D9E2EC;
	padding-bottom: .75rem;
	padding-top: 1rem;

	a{
	text-decoration: none;
	}

	a:link{
		color: #46697D;
	}

	a:visited{
		color: #46697D;
	}

	a:hover{
		color: #FF7BAC;
	}
}