.how{
	@media screen and (min-width: 55em){
	display:grid;
		grid-template-rows: -1fr 1fr 1fr;
	grid-template-columns: repeat(6, 1fr);
	grid-column-gap: 5rem;
}

h2{
	text-align: center;
	@media screen and (min-width: 55em){
	grid-row: 1;
	grid-column: 1 / span 6;

		}


	}

img{
	@media screen and (min-width: 55em){
	align-self: center;
	padding-bottom: 0;
	margin-left: 0;
	width: 80%;
}
margin-left: 35%;
	padding-bottom: 3rem;
width: 30%;
}

#ama{
	@media screen and (min-width: 55em){
grid-row: 2;
grid-column: 1;
margin-left: 30%;
}
}

#bb{
	@media screen and (min-width: 55em){
grid-row: 2;
grid-column: 2;
}
}

#hm{
	@media screen and (min-width: 55em){
grid-row: 2;
grid-column: 3;
}

}

#sta{
	@media screen and (min-width: 55em){
grid-row: 2;
grid-column: 4;
}
}

#tar{
	@media screen and (min-width: 55em){
grid-row: 2;
grid-column: 5;
}
}

#wal{
	@media screen and (min-width: 55em){
grid-row: 2;
grid-column: 6;
}
}

p{
	@media screen and (min-width: 55em){
grid-row: 3;
grid-column: 1 / span 6;
	}

	padding-left: 2rem;
	padding-right: 2rem;
	
}


}


