img{
	width: 100%;
}

main{
	background-color:#E4FFFD;


	p{
	color:#46697D;
	font-family: 'Nunito', sans-serif;
	text-align: center;
	font-size: 1.2rem;
	line-height: 3rem;
	}

	h1{
	color:#00A99D;
	font-family: 'Nunito', sans-serif;
	font-weight: 600i;
	font-style: italic;
	text-align:center;
	font-size: 12rem;
	width: 50;
	}


	h2{
	color:#FF7BAC;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	text-align: center;
	font-size:4rem;
	}


 }

 ul{
	list-style-type: none;
 }
