

.when{
	display: grid;
	grid-template-rows: 1fr -1fr 1fr;
	grid-row-gap: -4rem;



	h1{
	@media screen and (min-width: 45em){
	
}
	margin-top: -2rem;


}

	p{
		margin-top: -4rem;
		padding-left: 2rem;
	padding-right: 2rem;
	}
	}

