.why{
	@media screen and (min-width: 45em){
	display:grid;
		grid-template-rows: -1fr 1fr 1fr;
	grid-template-columns:1fr 1.5fr;
}

	h2{
		text-align: center;
		@media screen and (min-width: 45em){
		grid-row: 1;
		grid-column: 1 / span 2;

		}


	}
	img{
		@media screen and (min-width: 45em){
		grid-column: 1;
		grid-row: 2;
		width: 100%;
		align-self: center;
		
}
	margin-left: 25%;
	width: 50%;
	object-fit: cover;
	border-radius: 50px;

	
	}

	p{
		@media screen and (min-width: 45em){
		grid-column: 2;
		grid-row: 2;
		align-self: center;
		margin-left:25%;
	}
	margin-right:0;
	padding-left: 2rem;
	padding-right: 2rem;

	}
}
